@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #474e58;
    
}


img {
    max-width: 100%;
}

.home {
    background-image: url(img/bathroom.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;    
}

.home-content {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    
}

header h1 {
    text-align: center;
    font-size: 4em;
    padding: 30px;
    color: #000;  
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav a {
    font-size: 1em;
    text-decoration: none;
    color: #474e58;
}


a:hover {
    color: #13979f;
    cursor: pointer;
}

.about {
    text-align: center;
    margin: 0 20px;    
}

.about h1 {
    padding: 30px;
}

.about h2 {
    padding: 20px;
    color: #13979f;
}

.about p {
    line-height: 1.7;
    padding: 20px;

}

.about-square {
    background-color:  #e7e8e9;
    border-radius: 20px;
    padding: 20px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #000;
}

.icon-box {
    padding: 20px;
   
    
}

.icon-box li {
    display: flex;
    list-style: none;
    align-items: center;  
}

.icon-box p {
    color: #000;
    font-size: 20px;
    text-align: center;
}

.gallery {
    text-align: center;
    margin: 0 20px;
}

.gallery h1 {
    padding: 30px;
}

.gallery img {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-top: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.box {
    transform: translateX(400%);
    transition: transform 0.8s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.contact {
    text-align: center;
    margin: 0 20px;
}

.contact h1 {
    padding: 30px;
}

.contact h3 {
    border-bottom: solid 2px #13979f;
    padding-bottom: 10px;

}

.contact p {
    padding: 10px;
    line-height: 1.7;
}

.fa-phone {
    padding-right: 5px;
}

iframe {
    width: 100%;
}

footer {
    margin-top: 30px;
    height: 40px;
    background-color:  #13979f;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 10px;
}
