@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

header {
    max-width: 1100px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    padding: 30px;

}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: #13979f;
    cursor: pointer;
}

#home {
    background-image: url(img/bathroom.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    
}

.about {
    text-align: center;
    margin: 20px;
    color: #474e58;
    
}

.about h1 {
    padding: 30px;
    color: #000;
}

.about h2 {
    padding: 20px;
    color: #13979f;
}

.about p {
    line-height: 1.7;
    padding: 20px;
}

.about-square {
    background-color:  #e7e8e9;
    border-radius: 20px;
    padding: 20px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #000;

}

.icon-box {
    padding: 20px;
}

.icon-box li {
    display: flex;
    list-style: none;
}

.icon-box p {
    color: #000;
    font-size: 20px;
}







/* ---------media query------ */

/* .about-square {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    
}

.about-square {
    background-color:  #e7e8e9;
    padding: 20px;

}

.square {
    height: 100px;
    width: 100px;
    border: solid #474e58;
    border-radius: 20px;
    padding: 20px;

} */